header{
    
    
}

main{
    
}

footer{
    
}

.container{
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    padding: 94px 50px 96px; 
}

.header-menu{
    font-family:'Raleway-Regular', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 6px;

    letter-spacing: 0%;

}

.header-links-list{
    display: flex;
    gap: 31px;
    
}

.header__links-list-item{
   padding-left: 6px;
   font-size: 18px;
   list-style: circle;
   text-decoration: none;
}

.header__links-list-item_no-bullit{
    font-size: 18px;
    padding-left: 0px;
    list-style: none;
    text-decoration: none;
}

.header__link_active{
    text-decoration: none;
}

.header__link{
    text-decoration: none;
    border-bottom: 2px solid black;

}

.address{
    max-width: 240px;
    max-height: 98px;
    justify-self: end;
    font-family: 'Raleway', sans-serif ;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    font-style: normal;
    padding-bottom: 2px;

    margin-bottom: 10px;
}

.header-address{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-style: normal;
    line-height: 24.3px;
}

.underline-text{
    text-decoration: none;
    border-bottom: 2px solid black; 
}

.header__logo{

}

.header__logo-image{
    width: 148px;
    height: 105px;
}

.main-block{
    
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    inset: 0;
    z-index: 0;
}

.cover{
   

    position: relative;
    background-image:url(/images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 165px 50px 50px;

}

.cover-image{
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}


.cover-description{
    position: relative;
    display: flex; 
    word-spacing: 19px;
    align-items: center;
    justify-content: space-between;
    translate: 0 -5px;
}

.cover-title{
    text-transform: uppercase;
    color: #FFFFFF;
    display: grid;
    gap: 20px;
    margin-bottom: 106px;
}

.aligned-text{
    display: block;
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 0.3em;
    line-height: 115%;
    z-index: 2;
    translate: 0 -5px;

}

.aligned-text_left{

}

.aligned-text_center{
  text-align: center;
  padding-left: 30px;
}

.aligned-text_right{
    text-align: right;
    translate: 30px -5px;
}

.cover__description-text{
    font-family: 'Raleway', sans-serif ;
    font-weight: 400;
    font-size: 22px;
    font-style: normal;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.bet-button{
    width:256px ;
    height:51px ;
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    background-color: transparent;
    border-width: 1px;
    border-color: #FFFFFF;
    color: #FFFFFF;

}

.lots{
    margin-top: 180px;
    position: relative;
}

.lots__heading{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    position: relative;
    padding-left: 65px;
}

.lots__card-list{
    display: flex;
    gap: 25px;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    position: relative;
    padding-top: 27px;
    
    
}

.lots__card-list-item{
    width: 334px;
    min-height: 596px;
    display: flex;
    flex-direction:column;
}

.card-link{
    height: 100%;
    text-decoration: none;
}

.card{
    height: 100%;
    position: relative;
    z-index: 2;
    
}

.card_type_film{
    background-image: url(/images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_type_book{
    background-image: url(/images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card_type_picture{
    background-image: url(/images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.card__title{
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    font-size: 22px;
    font-style: Bold;
    line-height: 120%;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: underline;
    width: 254px ;
    height:82px ;
    position: relative;
    padding-top: 48px;
    translate: 36px;
}

.card__text{
    font-family: 'Raleway', sans-serif ;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    position: absolute;
    width: 254px;
    translate: 40px -48px;
    bottom: 0;
}

.lots__look-more-link{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #000000;
    border-bottom: 2px solid black; 
    translate: 64px 29px;
}

.link-text{
    
}


.card-content{

}


.about{
    margin-top: 120px;
    display: grid;
    
    grid-template-columns: 500px 1fr;
    
}

.about__logo{
    width: 240px;
    height: 240px;
    background-color: #000000;
    border-radius: 120px;
    translate: 72px 62px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.about__logo-image{
    width: 148px;
    height: 114px;
}


.about-column-left{

}

.about-column-right{
    

    
    
}

.about__title{
    font-family: 'Raleway', sans-serif ;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    translate: -118px 168px;
    
}

.about-text{
    font-family: 'Raleway', sans-serif ;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    
    display: grid;
    gap: 24px;
    padding-top: 270px;
    margin-left: -150px;
}

.about-paragraph{
    display: flex;
    flex-direction: column;
}

.footer-content{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   position: relative;

}

.footer-address{
    display: flex;
    flex-direction: column;
    justify-self: left;
    font-family: 'Raleway', sans-serif ;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0%;
    font-style: normal;
    padding-bottom: 2px;
    margin-right: 50px;
    padding-top: 395px;
    padding-left: 50px;
    justify-self: start;
    
}

.footer-menu{
   
}

.footer__menu-list{
    display: flex;
    justify-self: center;
    position: relative;
    padding-top: 400px;
    flex-direction: column;
    list-style: none;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    gap: 3px;
    
}

.footer__menu-link_active{

}

.footer__menu-link{
    border-bottom: 2px solid black; 
}

.footer__social-list{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-self: end;
    padding-top: 395px;
    padding-right: 50px;
    gap: 45px;
}

.footer__social-list-item{
    list-style: none;
}

.footer__social-link{

}

.footer__social-icon{
    width: 50px;
}